@use '../util/' as *;

.toggle {
    display: grid;
    grid-template-columns: 1fr 3rem;
    border: none;
    margin: 0;
    label {
        color: var(--toggle-text);
        font-size: rem(14);
        font-weight: 700;
        &[for='dark'] {
            line-height: rem(24);
            margin-right: rem(13);
        }
    }
    &__wrapper {
        height: rem(24);
        position: relative;
    }
    input[type='radio'] {
        height: rem(24);
        margin: 0 rem(-2) 0 rem(-2);
        opacity: 0;
        width: rem(24);

        &:focus ~ .toggle__button {
            border: 2px solid var(--toggle-focus);
        }
    }
    &__background {
        background: var(--toggle-bg);
        border-radius: rem(12);
        display: block;
        height: 100%;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }
    &__button {
        background-color: var(--background);
        border-radius: 50%;
        height: rem(18);
        left: rem(3);
        position: absolute;
        right: 100%;
        top: rem(3);
        transition: all 150ms ease-in-out;
        width: rem(18);
    }

    #light:checked ~ .toggle__button {
        left: calc(100% - 21px);
        right: 3px;
    }

    #system:checked ~ .toggle__button {
        left: 50%;
        right: auto;
        transform: translate(-50%);
    }
}